@import "./lib/colors";
@import "./lib/fonts";

h1 {
  color: $preAccent;
  font-size: 19px;
}

.lh-home-container {
  height: 100vh;
  position: relative;
}
.lh-home-bg-conatiner {
  height: 100vh;
}